.foto{
    position:absolute;
    left:33%;
}
.foto2{
    position:relative;
    left:4%;
}
.foto3{
    position:relative;
    left:36%;
}
.foto4{
    position:relative;
    right:18%;
    top:350px;

    
}
.foto5{
    position:relative;
    left:4%;
    top:50px;
}
.foto6{
    position:relative;
    left:38%;
    top:50px;
}
.boton1 {
    display:flex;
    width: 490px;
    right:50%;
    left:13%;
    position:absolute;
    top:420px;
}
.boton2{
    display:flex;
    width: 490px;
    right:50%;
    left:43%;
    position:absolute;
    top: 420px;
    
}
.boton3{
    display:flex;
    width: 490px;
    right:50%;
    left:70%;
    position:absolute;
    top: 420px;
    
}
.boton4{
    display:flex;
    width: 490px;
    right:50%;
    left:13%;
    position:absolute;
    top:780px;
    
}
.boton5{
    display:flex;
    width: 490px;
    right:50%;
    left:43%;
    position:absolute;
    top: 780px;
    
}
.boton6{
    display:flex;
    width: 490px;
    right:50%;
    left:73%;
    position:absolute;
    top: 780px;
    
}
h1{
    font-family: georgia, serif;
    text-align: center;
    background:url(https://i.pinimg.com/736x/01/da/30/01da302c4104c2007ccdefa74ff2b000.jpg)
}