<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Amphibia </title>
</head>

<body>
    <h1>¡MARROQUINERIA!</h1>
    <section>
      <div class="boton1">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>
    <section>
      <div class="boton2">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>
    <section>
      <div class="boton3">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>
    <section>
      <div class="boton4">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>
    <section>
      <div class="boton5">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>
    <section>
      <div class="boton6">
        <button mat-raised-button color="accent">Comprar</button>
      </div>
    </section>

    <img class="foto" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/thumbnail/300x/9df78eab33525d08d6e5fb8d27136e95/K/E/KEYDEN3071601-1_2.jpg" width="300" height="300">
    <img class="foto2" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/image/550x550/9df78eab33525d08d6e5fb8d27136e95/b/o/bonsoirm000503-1_1.jpg" width="300" height="300">
    <img class="foto3" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/image/550x550/9df78eab33525d08d6e5fb8d27136e95/a/f/aferdita3285106-1_1.jpg" width="300" height="300">
    <img class="foto4" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/image/550x550/9df78eab33525d08d6e5fb8d27136e95/r/i/ridia3361010-1_1.jpg" width="300" height="300">
    <img class="foto5" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/k/e/keyden5158662-1_2.jpg" width="300" height="300">
    <img class="foto6" src="https://d1k1kwopu3t53x.cloudfront.net/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/a/l/alina5165607-1_1.jpg" width="300" height="300">

</body>


</html>

