<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Amphibia </title>
</head>

<body>
    
    <div class=margen1>
        <h1>¡hace tu pedido en nuestra tienda online es muy sencillo y practico!</h1>
    <p>
        Comprar por nuestra página no quiere decir que necesitás si o si tener tarjeta de crédito,én podés 
        pagar en efectivo y retirar en nuestro punto de entrega en cipolletti . Lo que sí necesitamos para poder 
        entregarte tu pedido es que lo hagas a través de nuestra página online para que generes tu orden de compra
         y reserves tus productos. Luego por email o WhatsApp coordinaremos el pago, envío o entrega.
        El envío puede ser por nuestro repartiendo, Correo Argentino o Vía Cargo ( podes elegir otra empresa)
    </p>
        <h1>¡HACEMOS ENVIOS A PESAR DE LA CUARENTENA!</h1>
        <p>
            Solamente tené en cuenta que nuestra respuesta debido a la cuarentena puede demorar más de lo normal o puede 
            que sea rápia debido a que estamos trabajando sin personal, tomando las medidas de higiene necesarias 
            al empaquetar que lleva su tiempo y con amplia demanda debido al posible desabastecimiento.
        </p>
    </div>
    
    <h2>¡GRACIAS POR ELEGIRNOS SIEMPRE Y POR LA PACIENCIA!</h2>
</body>


</html>
