<div class=portada>
        <h1>AMPHIBIA</h1>
</div>
<h1>¿QUIENES SOMOS?</h1>
<p>Amphibia es un emprendimiento nuevo,de venta minorista de accesorios
tenemos disponible Skin care, Make Up,Acero Quirurgico,Marroquineria,Insumos para uñas,Perfumes
entre otros que iremos agregando. Espero nuestro emprendimiento sea de tu agrado, y estamos en todo lo que necesites
</p>
<mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>EN NUESTRA TIENDA VAS A CONSEGUIR TODO LO QUE NECESITES</mat-grid-tile>
        <mat-grid-tile>HACENOS TU CONSULTA</mat-grid-tile>
        <mat-grid-tile>ENVIOS A TODO EL PAIS</mat-grid-tile>
        <mat-grid-tile>CUPON DEL 30% DE DESCUENTO "AMPHICOM"</mat-grid-tile>
      </mat-grid-list>

      
      
