<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>nombre completo</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
  </form>
  <section>
    <div class="boton1">
      <button mat-raised-button color="accent">Enviar</button>
    </div>
  </section>
