<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Amphibia </title>
</head>

<body>
    <h1>¡ACCESORIOS!</h1>
    <section>
      <div class="boton1">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    <section>
      <div class="boton2">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    <section>
      <div class="boton3">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    <section>
      <div class="boton4">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    <section>
      <div class="boton5">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    <section>
      <div class="boton6">
        <button mat-flat-button color="accent">COMPRAR</button>
      </div>
    </section>
    
    
    <img class="foto" src="https://d2r9epyceweg5n.cloudfront.net/stores/322/321/products/082af155-bac8-4382-ab7f-07ca4bbb54341-8b7c5d84a89079e4da16188499888919-480-0.jpg" width="300" height="300">
    <img class="foto2" src="https://d2r9epyceweg5n.cloudfront.net/stores/322/321/products/92974c8d-d434-40a4-9745-41da0c592d28-11-64e14649fe77a0df2d16188471539751-480-0.jpg" width="300" height="300">
    <img class="foto3" src="https://d2r9epyceweg5n.cloudfront.net/stores/322/321/products/1a5131fb-82ec-4f98-b9f9-f92da89da7f41-cac845a27509d6d6db16188504394260-240-0.jpg" width="300" height="300">
    <img class="foto4" src="https://d22fxaf9t8d39k.cloudfront.net/1997c91dcdcfd125c5482829bb59f377053db86e9be946273d3fc6ddf628c69f41420.jpeg" width="300" height="300">
    <img class="foto5" src="https://d22fxaf9t8d39k.cloudfront.net/b2eab4260bccdf1adaf67658af36666fa2c2e3b0f565633a6ce94cdd61f7f43c41420.jpeg" width="300" height="300">
    <img class="foto6" src="https://d22fxaf9t8d39k.cloudfront.net/e73463de12e4e8eb7c82daa804e29b8fedf87ad5d4b98929ce2b681a5558f86741420.jpeg" width="300" height="300">

</body>


</html>
